{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">About</h1>
    <p class="subtitle">Welcome to our Travel App!</p>
    <div class="content">
      <h2 class="title is-4">Discover Amazing Destinations</h2>
      <p>
        Our travel app is designed to help you explore and discover amazing destinations around the world. From pristine beaches to bustling cities, we've curated a collection of top travel destinations that will inspire your wanderlust.
      </p>
      <h2 class="title is-4">Create Your Itineraries</h2>
      <p>
        Plan your trips and create personalized itineraries with ease. Add destinations, specify dates, and organize your activities and attractions. Whether you're a solo traveler or planning a group trip, our app will assist you in creating unforgettable travel experiences.
      </p>
      <h2 class="title is-4">Connect with Fellow Travelers</h2>
      <p>
        Join our vibrant community of travelers and share your experiences. Connect with fellow adventurers, exchange travel tips, and get inspired by their stories. Discover hidden gems, find travel companions, and make lifelong memories together.
      </p>
    </div>
  </div>
</section>
{% endblock %}
