{% extends 'base.html' %} 

{% block content %}
<div class="detail__img">
    <img src="{{country.image}}" alt="{{country.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{country.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'country_update' country.pk %}" class="button is-info">Updates</a>
        <a href="{% url 'country_delete' country.pk %}" class="button is-danger">Delete</a>
    </div>
    <div class="detail__info">
        <h4 class="title is-4">Country Information</h4>
        <p>Capital: {{country.capital}}</p>
        <p>Language: {{country.language}}</p>
        <p>Currency: {{country.currency}}</p>
        <p>Population: {{country.population}}</p>
    </div>

    <form class="mb-5" action="{% url 'destination_create' country.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" name="title" placeholder="Title" required />
            </div>
            <div class="control">
                <textarea class="input" name="description" placeholder="Description" required></textarea>
            </div>
            <div class="control">
                <input class="input" type="text" name="best_time_to_visit" placeholder="Best Time to Visit" required />
            </div>
            <div class="control">
                <input class="input" type="text" name="budget_range" placeholder="Budget Range" required />
            </div>
            <div class="control">
                <input class="input" type="text" name="image" placeholder="Image URL" />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Destination" />
            </div>
        </div>
    </form>

    <div class="detail__destinations mb-5">
        <h3 class="title is-3">Destinations</h3>

        {% for destination in country.destinations.all %}
        <div class="destination">
            <span>{{ forloop.counter }}</span>
            <span><b>{{ destination.title }}</b></span>
            <span>{{ destination.description }}</span>

            <div class="destination-actions">
                <button class="add-to-itinerary" data-destination="{{ destination.pk }}">Add to Itinerary</button>
                <div class="itinerary-dropdown" id="itinerary-dropdown-{{ destination.pk }}">
                    {% for itinerary in itineraries %}
                    <a href="{% url 'itinerary_destination_assoc' itinerary.pk destination.pk %}?assoc=add" class="dropdown-item">{{ itinerary.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Destinations Available</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

{% endblock %}
