{% extends 'base.html' %} 
{% block content %}
<div class="home__itineraries">
    {% for itinerary in itineraries %} 
        <div class="itinerary mb-5">
            <h3 class="title is-3 has-text-success">{{itinerary.name}}</h3>
            <hr />

            {% if itinerary.destinations.all %}
                <div class="destination-list">
                    {% for destination in itinerary.destinations.all %}
                        <div class="destination">
                            <span class="destination-index">{{forloop.counter}}</span>
                            <div class="destination-info">
                                <h4 class="destination-title">{{destination.title}}</h4>
                                <p class="destination-description">{{destination.description}}</p>
                            </div>
                            <div class="destination-actions">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'itinerary_destination_assoc' itinerary.pk destination.pk %}?assoc=remove"
                                       class="button is-danger is-outlined">
                                        <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </a>
                                {% endif %}
                            </div>   
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-destinations">There are no destinations in this itinerary</div>
            {% endif %}
        </div>
    {% empty %} 
        <div class="no-itineraries">There are no itineraries available</div>
    {% endfor %}
</div>
{% endblock %}
