{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}travel_destination{% endblock  %}

{% block content %}

<h1 class="title pt-5">Trending Destinations</h1>
<div class="gallery">
  {% for travel_destination in travel_destinations %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{travel_destination.image}}" alt="{{travel_destination.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{travel_destination.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No travel_destinations Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}